@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #020412;
  --white: #fff;
}
* {
  margin: 0px;
}
body {
  color: var(--white);
  background: var(--black);
  font-size: 12px;
}
.navbar-toggler {
  color: var(--white);
  background: var(--white);
}
.navbarBg {
  background: rgba(58, 127, 208, 0.05) !important;
  padding: 0px;
}
.navbar {
  color: var(--white);
  border-bottom: 1px solid #2a2f3d;
  border-right: 1px solid #2a2f3d;
  .nav-link {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--white);
    padding: 0px 20px !important;
  }
}
.heroFocus {
  position: relative;
  width: 100%;
  background: url("/images/hero-bg.svg") no-repeat top right;
  background-size: 110% 200%;
}
.para1 {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.exploreLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #51b29c;
  &:hover {
    color: var(--white);
  }
}
.borderRight {
  border-right: 1px solid #2a2f3d;
}
.missionFocus {
  background: url("/images/mission-bg.svg") no-repeat;
  background-position: 0% -50%;
}
