@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #020412;
  --white: #fff;
}
* {
  margin: 0px;
}
/******************* Fonts **************/
@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr-Medium.eot");
  src: local("Avenir Next Cyr Bold"), local("../fonts/AvenirNextCyr-Medium"),
    url("../fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"),
    url("../fonts/AvenirNextCyr-Medium.woff") format("woff"),
    url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/****************************************/
body {
  color: var(--white);
  background: var(--black);
  font-size: 12px;
  font-family: Avenir Next Cyr !important;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Avenir Next Cyr" !important;
}
.navbar-toggler {
  color: var(--white);
  background: var(--white);
}
.navbarBg {
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(50px);
  padding: 0px;
}
.navbar {
  color: var(--white);
  @media only screen and (max-width: 991.99px) {
  }
  .nav-link {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--white);
    padding: 0px 20px !important;
  }
}
.heroFocus {
  position: relative;
  background: url("/images/hero-focus.svg") no-repeat top left;
  background-size: cover;
}
.heroFocus::before {
  content: "";
  background: url("/images/ae-hero-bottom.svg") no-repeat bottom right;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.animationFocus {
  position: relative;
  background: url("/images/animation-focus.svg") no-repeat top left;
  background-size: 40% 120%;
}
.missionFocus {
  position: relative;
  background: url("/images/missionBG.svg") no-repeat center right;
  background-size: 50% 150%;
}
.borderBottom {
  border-bottom: 1px solid #2a2f3d;
}
/*************************************/
